name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - v*.*.*

permissions: {}

jobs:
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')  # only run on "releases" (pushes to tags)
    steps:
    - name: Checkout code
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      with:
        persist-credentials: false

    - name: Collect release notes
      run: git show HEAD --format='%s%n%n%b' -s > .release_body

    - name: Generate release notes
      uses: softprops/action-gh-release@9d7c94cfd0a1f3ed45544c887983e9fa900f0564 # v2.0.4
      with:
        generate_release_notes: true
        body_path: .release_body
