name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

permissions: {}

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: "16"
        cache: "yarn"
        cache-dependency-path: ./yarn.lock
    - run: yarn
    - run: yarn compile
    - run: yarn package
    - run: yarn test

  #test:
  #  runs-on: ubuntu-latest
  #  steps:
  #  - uses: actions/checkout@v4
  #  - name: Set up HLint
  #    uses: ./hlint-setup
  #  - run: hlint --version
  #  - uses: ./hlint-run
  #    with:
  #      path: ./hlint-run/test/Example.hs
