name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types: [opened, synchronize]

permissions: {}

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Setup node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 16
        cache: yarn
        cache-dependency-path: ./yarn.lock

    - run: yarn
    - run: yarn compile
    - run: yarn package
    - run: yarn test

    - name: Set up HLint
      uses: haskell-actions/hlint-setup@fe9cd1cd1af94a23900c06738e73f6ddb092966a # v2.4.10

    - run: hlint --version

    - name: Self test
      uses: ./
      with:
        path: ./test/Example.hs
